# Build outputs
dist/
build/
*.tsbuildinfo
coverage/
*.d.ts.map
*.d.ts

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
